.rs-product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-product__container > .rs-btn {
  margin-top: 40px;
}
@media (max-width: 991.98px) {
  .rs-product__container > .rs-btn {
    margin-top: 20px;
  }
}
.rs-product__slider {
  width: 100%;
  overflow: visible;
}
.rs-product__slide {
  min-height: 1px;
  height: auto;
  border-radius: 30px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .rs-product__slide {
    border-radius: 15px;
  }
}
.rs-product__slide._dark-primary-bg .rs-btn {
  background-color: var(--second-color);
  color: #fff;
}
.rs-product__slide._dark-primary-bg .rs-btn:after {
  background-color: var(--primary-color);
}
.rs-product__slide._primary-bg .rs-btn {
  background-color: var(--primary-dark-color);
  color: #fff;
}
.rs-product__slide._primary-bg .rs-btn:after {
  background-color: var(--second-color);
}
.rs-product__slide._white-bg .rs-btn {
  background-color: var(--second-color);
  color: #fff;
}
.rs-product__slide._white-bg .rs-btn:after {
  background-color: var(--primary-color);
}
.rs-product__slide._white-bg .rs-product__desc {
  color: var(--font-color);
}
.rs-product__slide._white-bg .rs-product__date {
  color: var(--font-color);
}
.rs-product__slide._second-bg .rs-btn {
  background-color: var(--primary-color);
  color: #fff;
}
.rs-product__slide._second-bg .rs-btn:after {
  background-color: var(--second-color);
}
.rs-product__item {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
.rs-product__item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 50px 70px 70px;
}
@media (max-width: 1439.98px) {
  .rs-product__item a {
    padding: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-product__item a {
    padding: 20px;
  }
}
.rs-product__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.rs-product__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-product__block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .rs-product__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.rs-product__desc {
  color: #fff;
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .rs-product__desc {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 100%;
  }
}
.rs-product__date {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 5px 20px;
  border-radius: 34px;
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 991.98px) {
  .rs-product__date {
    font-size: 12px;
    padding: 5px 15px;
    margin-bottom: 15px;
  }
}
.rs-product__body h3 {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0px;
}
.rs-product__body p {
  margin-top: 14px;
}
.rs-product__btn {
  margin-top: 14px;
}
.rs-product__img {
  width: 100%;
  max-width: 500px;
  margin-left: 30px;
  padding: 16px 0px;
}
@media (max-width: 991.98px) {
  .rs-product__img {
    padding: 0;
    max-width: 100%;
    margin-left: 0px;
    margin-top: 15px;
  }
}
.rs-product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}