.rs-services {
	// .rs-services__container
	&__container {
	}

	// .rs-services__wrapper
	&__wrapper {
	}

	// .rs-services__bg
	&__bg {
		position: absolute;
		bottom: -70px;
		right: 0;
		z-index: -1;

		img {
			object-fit: contain;
		}

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	&__line {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;

		svg {
			width: 100%;
			height: 100%;

			path {
				transition: stroke-dashoffset 0.8s cubic-bezier(0.6, 0, 0.2, 1);
				stroke-dashoffset: 10000;
				stroke-dasharray: 10000;
			}
		}
	}

	// .rs-services__list
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;

		@media (max-width: 1429.98px) {
			gap: 20px;
		}

		@media (max-width: 991.98px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 767.98px) {
			grid-template-columns: repeat(1, 1fr);
		}

		@media (min-width: 991.98px) {
			& > * {
				&:nth-child(6) {
					grid-area: 3 / 2 / 3 / 2;
				}
			}
		}
	}

	// .rs-services__title
	&__title {
		@media (min-width: 991.98px) {
			padding-right: 27px;
			padding-top: 18px;
		}

		h2 {
			letter-spacing: 0.03em;

			@media (min-width: 1439.98px) {
				margin-bottom: 33px;
			}

			@media (min-width: 767.98px) {
				text-align: left;
			}
		}

		.rs-btn {
			@media (max-width: 767.98px) {
				width: 100%;
			}
		}
	}

	// .rs-services__item
	&__item {
		width: 100%;
		height: 100%;
		border-radius: 30px;
		overflow: hidden;
		position: relative;

		@media (max-width: 991.98px) {
			border-radius: 15px;
		}

		a {
			display: block;
			min-height: 286px;
			width: 100%;
			height: 100%;
			padding: 40px;

			@media (max-width: 1439.98px) {
				padding: 30px;
			}

			@media (max-width: 991.98px) {
				padding: 20px;
				min-height: unset;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				.rs-services__arrow {
					svg {
						transform: rotate(-45deg);
					}
				}

				.rs-services__line {
					svg {
						path {
							stroke-dashoffset: 0;
						}
					}
				}
			}
		}
	}

	// .rs-services__block
	&__block {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		height: 100%;
	}

	// .rs-services__desc
	&__desc {
		color: #fff;
		width: 100%;
		max-width: 420px;
	}

	// .rs-services__arrow
	&__arrow {
		width: 42px;
		height: 42px;
		margin: 8px 4px 8px auto;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba($color: #fff, $alpha: 0.4);
		border-radius: 15px;

		@media (max-width: 991.98px) {
			margin-top: 10px;
			width: 36px;
			height: 36px;

			svg {
				width: 15px;
				height: 15px;
			}
		}

		svg {
			transition: transform 0.3s ease 0s;
		}
	}
}
