section {
	margin: 118px 0px;
	position: relative;

	@media (max-width: 1439.98px) {
		margin: 100px 0px;
	}

	@media (max-width: 1169.98px) {
		margin: 80px 0px;
	}

	@media (max-width: 991.98px) {
		margin: 50px 0px;
	}
}

.blocks {
	position: relative;
	z-index: 10;

	section {
		margin: 0;
		position: static;

		&:not(:last-child) {
			margin-bottom: 120px;

			@media (max-width: 1439.98px) {
				margin-bottom: 100px;
			}

			@media (max-width: 1169.98px) {
				margin-bottom: 80px;
			}

			@media (max-width: 991.98px) {
				margin-bottom: 50px;
			}
		}
	}
}

// Text ========================================================================================================================================================
h1,
h2 {
	font-weight: 700;
	font-size: 50px;
	line-height: 125%;

	@media (max-width: 1439.98px) {
		font-size: 40px;
	}

	@media (max-width: 1169.98px) {
		font-size: 30px;
	}

	@media (max-width: 991.98px) {
		font-size: 20px;
	}
}

h2 {
	margin-bottom: 40px;
	text-align: center;

	@media (max-width: 1439.98px) {
		margin-bottom: 25px;
	}

	@media (max-width: 991.98px) {
		margin-bottom: 15px;
	}
}

h3 {
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
	text-align: center;
	margin-bottom: 40px;

	@media (max-width: 1439.98px) {
		font-size: 32px;
		margin-bottom: 25px;
	}

	@media (max-width: 1169.98px) {
		font-size: 24px;
	}

	@media (max-width: 991.98px) {
		font-size: 18px;
		margin-bottom: 15px;
	}
}

h4 {
	font-weight: 700;
	font-size: 22px;
	line-height: 110%;

	@media (max-width: 1439.98px) {
		font-size: 20px;
	}

	@media (max-width: 1169.98px) {
		font-size: 18px;
	}

	@media (max-width: 991.98px) {
		font-size: 16px;
	}
}

h5 {
	font-weight: 700;
	font-size: 18px;

	@media (max-width: 1439.98px) {
		font-size: 16px;
	}

	@media (max-width: 991.98px) {
		font-size: 14px;
	}
}

h6 {
	font-weight: 700;
	// font-weight: 600;
	font-size: 15px;
	// line-height: 19px;
	line-height: 130%;

	@media (max-width: 991.98px) {
		font-size: 14px;
	}
}

p {
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;

	@media (max-width: 1439.98px) {
		font-size: 14px;
	}
}

.primary-color {
	color: var(--primary-color);
}

.second-color {
	color: var(--second-color);
}

._dark-primary-bg {
	background-color: var(--primary-dark-color);
}

._primary-bg {
	background-color: var(--primary-color);
}

._second-bg {
	background-color: var(--second-color);
}

._white-bg {
	background-color: #f1f7fc;
}

._blue-bg {
	background-color: #f1f7fc;
	padding: 120px 0px;
	margin: 0;

	@media (max-width: 1439.98px) {
		padding: 100px 0px;
	}

	@media (max-width: 1169.98px) {
		padding: 80px 0px;
	}

	@media (max-width: 991.98px) {
		padding: 50px 0px;
	}
}

// Button ========================================================================================================================================================
.split-text {
	.split-text-wrapper {
		overflow: hidden;
		position: relative;
		display: inline-flex;
		cursor: pointer;

		.split-text-body {
			display: flex;
			position: relative;
			z-index: 10;
			transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
			transform: translateY(110%);

			span {
				&.split-text-copy {
					position: absolute;
					bottom: 110%;
					left: 0;
					// white-space: nowrap;
					will-change: transform;
				}
			}
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.split-text-body {
				transform: translateY(0);
			}
		}
	}
}

.rs-btn {
	position: relative;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s ease 0s;
	z-index: 10;
	font-weight: 700;
	// font-weight: 600;
	font-size: 16px;
	line-height: normal;
	letter-spacing: 0.03em;
	border-radius: 43px;
	padding: 15px 30px;

	&:after {
		content: "";
		display: block;
		height: 150%;
		width: 100%;
		left: 0;
		top: 0;
		border-radius: 50% 50% 0 0;
		position: absolute;
		transform: translateY(100%);
		transition:
			transform 0.5s ease 0s,
			border-radius 0.5s ease 0s;
	}

	&._btn-dark-primary {
		background-color: var(--primary-dark-color);
		color: #fff;

		&:after {
			background-color: var(--second-color);
		}
	}

	&._btn-second {
		background-color: var(--second-color);
		color: #fff;

		&:after {
			background-color: var(--primary-color);
		}
	}

	&._btn-primary {
		background-color: var(--primary-color);
		color: #fff;

		&:after {
			background-color: var(--second-color);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			&:after {
				transform: translateY(-25%);
			}
		}
	}
}

.form {
	width: 100%;

	// .form__wrapper
	&__wrapper {
	}

	// .form__block
	&__block {
	}

	// .form__line
	&__line {
		width: 100%;
		position: relative;
		padding-bottom: 14px;
	}

	&__row {
		@media (min-width: 991.98px) {
			display: flex;
			justify-content: space-between;
			margin-right: -5px;
			margin-left: -5px;

			.form__line {
				flex: 1 1 50%;
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}

	&__footer {
		margin-top: 6px;
	}

	&__agreement {
		font-weight: 400;
		font-size: 14px;
		color: #595959;

		a {
			text-decoration: underline;
			text-decoration-skip-ink: none;
		}
	}

	// .form__button
	&__button {
		margin-top: 14px;
		width: 100%;

		.rs-btn {
			padding: 15px 30px;
			width: 100%;
		}
	}
}

.rs-input {
	outline: none;
	width: 100%;
	transition: 0.3s ease 0s;
	transition-property: background-color, border-color;
	padding: 15px 30px;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--font-color);
	border-radius: 43px;
	background: #fff;

	&::placeholder {
		color: #595959;
	}
}

textarea.rs-input {
	border-radius: 30px;
	resize: none;
	min-height: 112px;
}

// Block  ========================================================================================================================================================
